body{
    text-align: center;
    background-color: #b6b857;
background-image: url("https://www.transparenttextures.com/patterns/textured-paper.png");
}
p{
    font-style: oblique;
}
footer{
    background-color: black;
    

}
#img1{
    width: 30px; height: 30px;
}
.help-button{
    background-color: black;
    color: white;
    border: none;
    height: 20px;
    width: 60px;
    font-size: x-small;
    cursor: pointer;
}
.help-button:hover{
    background-color: green;
}
.help-button:active{
    background-color: blue;
}
button{
    background-color: white;
    color: black;
    border: none;
    height: 20px;
    width: 60px;
    font-size: x-small;
    cursor: pointer;
}
h1{
    font-family: "press start 2P", "consolas", sans-serif;
}
#insta{ 
    display: inline-block;
    margin-right: 5px;
}

#tiktak{
    display: inline-block;
    margin-right: 5px;
}
#tree{
    display: inline-block;
    margin-right: 5px;
}
#mail{
    display: inline-block;
    margin-right: 5px;
}
#facekoek{
    display: inline-block;
    margin-right: 5px;
}
