body{
    text-align: center; 
    background-image: url(/FOTOS/AchtergrondAbout.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

div{
    background-image: url(/FOTOS/papierabout.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1000px;
    height: 500px;
    text-align: center;
}
h2{
    font-family:"";
}
p{
    font-family: "whisper";
    font-size: 20px;
    font-weight: 700;
}
h4{
    font-family: "pacifico";
}
h2{
    font-family: "Protest Revolution";
    color: red;
}