body{
    text-align: center; 
    background-image: url(/FOTOS/AchtergrondAbout.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

.verhaal{
    background-image: url(/FOTOS/papierabout.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1000px;
    height: 650px;
    margin-left: 120px;
}
p{
    font-family: "whisper";
    font-size: 25px;
    font-weight: 700;
}
h4{
    font-family: "pacifico";
}
h2{
    font-family: "Protest Revolution";
    color: red;
}
.close-btn{
    position: fixed;
    top: 10px;
    left: 10px; 
    width: 30px;
    height: 30px;
    font-size: 34px;
    line-height: 1;
    color: #000000;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
  }
  
.close-btn:hover{
    background-color: red;
    color: #fff;
}