body{
    text-align: center;
}
p{
    font-style: oblique;
}
footer{
    background-color: black;
}
#img1{
    width: 30px; height: 30px;
}
button{
    background-color: white;
    color: black;
    border: none;
    height: 20px;
    width: 60px;
    font-size: x-small;
    cursor: pointer;
}
h1{
    font-family: "press start 2P", "consolas", sans-serif;
}
